@font-face {
  font-family: "San Francisco";
  src: url("../fonts/SF-Ultralight.otf");
}

@font-face {
  font-family: "San Francisco Reg";
  src: url("../fonts/SF-Regular.otf");
}

@font-face {
  font-family: "San Francisco Bold";
  src: url("../fonts/SF-Bold.otf");
}

@keyframes hue {
  0% {
    background-position: 12.5% 50%;
  } 50% {
    background-position: 50% 50%;
  } 100% {
    background-position: 12.5% 100%;
  }
}

 html {
  height: 100%;
  font-family: "San Francisco";
  background: radial-gradient( circle farthest-corner at 15% 25%,  rgba(27, 27, 27, .9375) 0%, rgba(0, 0, 0, .9375) 100.2% ) fixed;
  background-size: contain;
  margin: 0 auto;
  color: white;
  padding: 0;
}

path {
  fill: url(#gradient);
}

a {
  font-family: "San Francisco Bold";
  color: #faad66;
}

.palm-vector svg {
  width: 500px !important;
  height: 500px !important;
}

.palm-vector svg path  {
  fill: none !important;
}

.las {
  background: url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a15751771893a4b_23.%20California.jpg");
  background-size: cover;
  background-blend-mode: color;
  background-repeat: round;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  color: #faad66;
  font-size: 5rem;
}

.landing-graphic {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100vw;
}

.landing-logo {
  width: 12.5em;
  margin: 2.5em 1em;
  padding: 1em;
}

.landing-excerpt {
  font-size: 2em;
}

.landing-graphic > svg {
  display: flex;
}

.landing-title {
  font-family: "San Francisco Reg";
  font-size: 7.5em;
  color: white;
  display: table;
  padding-top: 82.5px;
  color: white;
}

.title-1, .title-2 {
  background: url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a157539e0893a6f_41.%20Tonys%20Pink.jpg");
  background-size: cover;
  background-blend-mode: color;
  background-repeat: round;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: table-cell;
}

.currency-card, .trait-card {
  text-align: center;
  padding: 5em 2.5em;
}

.trait-card {
  width: 17.5em;
}

.benefits {
  font-size: 2em;
  padding-right: 5em;
}

.currency-logo {
  width: 5em;
}

.currency-card p, .trait-card p {
  margin: .25em 0em;
}

.currency-card p:first-of-type,
.trait-card p:first-of-type {
  font-size: 1.75em;
}

.currency-card p:last-of-type {
  font-family: "San Francisco Reg";
  font-size: 2.5em;
}


.logo-CuraDAI, .logo-DAI {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 3.5em;
  height: 3.5em;
}


.CuraDAI, .DAI {
  overflow: hidden;
}

.icon {
  position: relative;
  top: 3.75px;
}

.help {
  position: relative;
  top: 5px;
}

.balances {
  position: relative;
  padding-left: 17.5px;
  bottom: 2.5px;
}

label {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: .525em;
  font-size: 1.75em;
  clear: both;
}

input, .MuiInputBase-root, span {
  color: white;
}
