body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.logo {
  width: 3.5em;
  height: 3.5em;
  padding-right: 1em;
}

.icon {
  position: relative;
  top: 3.75px;
}

.help {
  position: relative;
  top: 5px;
}

.balances {
  position: relative;
  padding-left: 17.5px;
  bottom: 2.5px;
}

label {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: .525em;
  font-size: 1.75em;
  clear: both;
}

input, .MuiInputBase-root, span {
  color: white !important;
}
